<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notebooks &mdash; Shivam Sinha</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cssAdditional.css">
</head>

<body class="v-loading" data-v-console="false" data-v-page="home" data-v-tablet="1200" data-v-mobile="980">
    <!--[if (lt IE 9) | (IE 9)]>
      <div class="v-oldbrowser">Your browser is too old.</div>
    <![endif]-->
    <canvas class="page__canvas"></canvas>

    <div class="page-wrap fullHeightMin" id="wrap">
        <header class="v-header">
            <div class="wrap">
                <div class="v-header__logo">
                    <a href="/" class="line">Shivam Sinha</a>
                </div>
            </div>
        </header>
        <div class="page__screen fullHeightMin" id="v-ajaxPage__outer">
            <div class="default home fullHeightMin">
                <div class="home__text v-text_opacity">
                    <p>
                        Hello!
                        Here you'll find a collection <br>
                        of python notebooks I worked
                        on <br> during my time at Parsons.
                    </p>
                </div>

                <div class="home__telephone v-text_opacity">
                    <a href="https://www.helloshivam.com" target="_blank" class="line">Design Portfolio</a>
                </div>

                {% block content %}
                {% endblock %}

                <div class="home__developing v-text_opacity">
                    <p>
                        Exploration of Python to perform <br> data analysis, machine learning, <br> artificial
                        intelligence and <br>
                        web-based applications.
                    </p>
                </div>

                <div class="home__see">
                    <a href="https://courses.newschool.edu/courses/LMTH2080/" target="_blank" class="line">Python: Data,
                        Science, &amp;
                        Design</a>
                </div>

                <div class="home__email">
                    <a href="mailto:shivam@newschool.edu" class="line">shivam@newschool.edu</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader -->

    <div id="v-preloader" class="v-preloader v-preloader__item"></div>

    <!-- Scripts -->
    <!-- <script src="/js/script.js"></script> -->
    <script src="/js/jquery.js"></script>
    <script src="/js/scrollbar.js"></script>
    <script src="/js/scripts/slick-1.8.0/slick/slick.js"></script>
    <script src="/js/built.js"></script>
</body>

</html>