{% extends 'base.html' %}

{% block content %}
<ul class="home__list">
    <li>
        <a href="https://colab.research.google.com/drive/17ny5JbRH26KUk81EUakfD8OES0c1A5dv"
            data-color="rgba(90, 202, 128, .5)" target="_blank">
            <span>
                <span class="category">Data Analysis</span>
                Kickstarter
            </span>
        </a>
    </li>
    <li>
        <a href="https://colab.research.google.com/drive/14U06q0rHhSD2PcldFlyJOjG3QFGKZ8q8"
            data-color="rgba(255, 77, 67, .5)" target="_blank">
            <span>
                <span class="category">Web Scrape</span>
                Pitchfork
            </span>
        </a>
    </li>
    <li>
        <a href="https://colab.research.google.com/drive/1m2tysENhLei3rU4Hkc00H9j9TeuRosNy"
            data-color="rgba(30, 60, 120, .5)" target="_blank">
            <span>
                <span class="category">Web Scrape</span>
                ChubbyGrub
            </span>
        </a>
    </li>
    <li>
        <a href="https://colab.research.google.com/drive/1ZqdQEl-ENCosuaSR_kyF-D1wRYZZBLX2"
            data-color="rgba(255, 255, 255, .5)" target="_blank">
            <span>
                <span class="category">Data Analysis</span>
                Gun Violence
            </span>
        </a>
    </li>
</ul>
{% endblock %}